<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progressive Web Application</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=description content="A progressive webapp">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#212225">
    <meta name="msapplication-TileColor" content="#212225">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PWA">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#2F3BA2">
  </head>
  <body>
    <div id="content">
       <img src="images/yeoman.png" />
       <p> Check the console for service worker logs and after sw is active this image will load even when you are offline! </p>

       <p class="custom-button">Enable Push Notifications:
         <input id="turn-on-notification" type="checkbox" hidden="hidden" class="custom-input" data-checked="">
         <label for="turn-on-notification" class="custom-checkbox"></label>
       </p>

       <button id="send-push" style="display:none">Send Push Notification</button>
    </div>
  </body>
   <script src="/js/app.js"></script>
</html>
